.titulo{
    font-size: 28px;
    font-weight:bold;
    color:#ffffff;
    text-align: center;
    margin-left:-1vh
}
li{
    font-size: 24px;
    font-weight:light;
    color:#ffffff;
}

ul{
    list-style-type: circle;
}
.precio{
    font-size: 28px;
    font-weight:bold;
    color:#ffffff;
    text-align: center;
}