<div>
    <app-navbar></app-navbar>
    <div class="mt-10 py-8">
        <h1 style="text-align: center;font-size: 52px;color:#ffffff">Series</h1>

    </div>
    <div>
        <div>
            <h3 style="color:#ffffff;margin-left:10rem;font-size: 30px;">Disparos</h3>
            <app-cards-sliders></app-cards-sliders>
        </div>
        <div>
            <h3 style="color:#ffffff;margin-left:10rem;font-size: 30px;">Ciencia ficción</h3>
            <app-cards-sliders></app-cards-sliders>
        </div>
        <div>
            <h3 style="color:#ffffff;margin-left:10rem;font-size: 30px;">Otros</h3>
            <app-cards-sliders></app-cards-sliders>
        </div>

    </div>
</div>