.logo{
    width: 70px;
    height:70px;
}
nav{
    background-color: #d9d9d934;
    height: 60px;
}
ul{
    color:#d9d9d9;
    font-weight: light;
}
a{
    color:#0e4951;
    margin-left: 2vh;
}


.notificaciones{
    position: absolute;
    width: 184px;
    height: 205px;
    top: 60px;
    right: 0.5rem;
    
}

.icon{
    position: fixed;
    top: 4rem;
    right: 5rem;  
}

.pelicula {
    width: 65px;
    height: 50px;
    object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor manteniendo su relación de aspecto */

  }
  
  .lista {
    position: absolute;
    width: 138px;
    height: 50px;
    right: 3rem;
    top: 89px;
    color: #0e4951;
    display: flex; /* Convertir el contenedor en un contenedor flexible */
  }
  
  .lista2 {
    position: absolute;
    width: 138px;
    height: 50px;
    right: 3rem;
    top: 10rem;
    color: #0e4951;
    display: flex; /* Convertir el contenedor en un contenedor flexible */
  }
  .info {
    display: flex; /* Para alinear los elementos dentro de .lista */
    flex-direction: column; /* Alinear los elementos en columna */
    justify-content: center; /* Centrar verticalmente los elementos */
    margin-left:5px;
    font-size:12px;
    white-space:nowrap;
  }





