.input-search{
    width: 1052px;
    height: 50px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 30px;
    border: 1 px solid transparent
;
    margin: auto;
    color: #ffffff;
    fill: #ffffff;
}

.input-search::placeholder{

    color: #0e4951;
}

