<div id="default-carousel" class="relative w-full">
    <h3 style="margin-top:4rem;margin-left: 4rem;color:#ffffff ;font-size: 24px;font-weight: bolder;">{{titulo}}</h3>
    <div style="display: flex; justify-content: space-evenly; padding: 7rem;" class="flex transition-transform duration-700 ease-in-out"> 
        @for(pelicula of displayedMovies; track pelicula) {
            <ng-container>
                <div  class="w-231 px-4 transform">
                    <div class="contenedor relative">
                        <img src="{{pelicula.imagen}}" class="w-60 h-80 object-cover" alt="{{pelicula.titulo}}">
                        <p class="titulo hidden absolute top-0 left-0 ">{{pelicula.titulo}}</p>
                        <p class="item hidden absolute bottom-0 left-0  ">{{pelicula.item}}</p>

                    </div>
                </div>
            </ng-container>
        }
    </div>
    <!-- Slider controls -->
    @if(currentIndex!==1){
        <button type="button" (click)="prev();" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10 bg-transparent group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-8 h-8 text-white dark:text-gray-900 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="" stroke-linejoin="" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
    }
    @if(currentIndex!==7){
        <button type="button" (click)="next();" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10 bg-transparent group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-8 h-8 text-white dark:text-gray-900 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="" stroke-linejoin="" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    }
</div>
