.input{
    border-radius:20px;
    background-color: #d9d9d934;
    color:#d9d9d9;
    font-weight: bold;
    border:1px solid transparent;
} 
.spinner{
    width:100px;
    height:100px;
    position:absolute;
    bottom:4rem;

    left: 45%; transform: translate(-50%, -50%);
    animation: spin 2s linear infinite; /* Animación de rotación */
}

@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}