img{
    width: 100%;
    height:auto;
}
.descripcion{
    width: 640px;
    height:141px;
    margin-left: 6rem;
    font-weight: lighter;
    font-size: 24px;
    line-height: 115.5%;
    /* or 28px */
    letter-spacing: -0.01em;
    
    color: #FFFFFF;
    
}

.subtitulo{

margin-left: 6rem;
font-weight: lighter;
font-size: 32px;
line-height: 115.5%;
letter-spacing: -0.01em;
color: #FFFFFF;

}

.titulo{
margin-left:6rem;
font-weight: bolder;
font-size: 52px;
line-height: 115.5%;
/* identical to box height, or 60px */
letter-spacing: -0.01em;

color: #FFFFFF;


}