<div id="default-carousel" class="relative w-full h-900" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div style="height:900px" class="relative overflow-hidden w-full">
         <!-- Item 1 -->
        <div class="duration-700 ease-in-out" data-carousel-item>
            <img src="../../../assets/carrusel/mandalorian.webp" style="width:2000px;height:900px" class="absolute block top-0 left-0" alt="...">
        </div>
        <!-- Item 2 -->
        <div class="duration-700 ease-in-out" data-carousel-item>
            <img src="../../../assets/carrusel/mrRobot.jpg" style="width:1900px;height:900px" class="absolute block bottom-8 top-0 left-0" alt="...">
        </div>
        <!-- Item 3 -->
        <div class="duration-700 ease-in-out" data-carousel-item>
            <img src="../../../assets/carrusel/losSimpsons.jpg" style="width:2000px;height:900px" class="absolute block top-0 left-0" alt="...">
        </div>
    </div>
</div>
