video{
    height: auto;
    width: 100%;
}
.main-container {
    min-height: 100vh; 
  position: relative; 
}
  app-footer {
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    
    z-index: 1000; 
  }