video{
    height: auto;
    width: 100%;
}

  
  app-footer {
    position: fixed; /* Fija el footer en la parte inferior de la ventana del navegador */
    left: 0; /* Alinea el footer a la izquierda */
    bottom: 0; /* Alinea el footer en la parte inferior */
    width: 100%; /* Establece el ancho del footer al 100% del contenedor principal */
    
    z-index: 1000; /* Asegura que el footer esté por encima de otros elementos */
  }